<div class="contt">
  <h1>Your feedbacks are very important, it help us improve</h1>
  <p>Please leave your feedback</p>
</div>


<mat-horizontal-stepper #stepper [@expand]>
  <mat-step label = "Rating">
    <p>This is your service's rating : {{value}}</p>
    <mat-slider
    thumbLabel
    [displayWith]="formatLabel"
    tickInterval="5"
    min="1"
    max="5"
    [(ngModel)]="rating"></mat-slider>
    <div class="mar">
      <button mat-mini-fab color="primary" matStepperNext>
        <span class="material-icons">
          skip_next
          </span>
      </button>
    </div>
  </mat-step>
  <mat-step label = "Comment">
    <p>This is your comment area</p>
    <textarea matInput  placeholder="Your Comment" rows=12 [(ngModel)]="comment" [formControl]="commentFormControl"></textarea>
    <mat-error *ngIf="commentFormControl.hasError('required') && commentFormControl.touched">
      Please enter your comment
    </mat-error>
      <div class="mar">
        <button mat-mini-fab color="primary" matStepperPrevious>
          <span class="material-icons">
            skip_previous
            </span>
        </button>
        <button mat-mini-fab color="primary" matStepperNext>
          <span class="material-icons">
            skip_next
            </span>
        </button>
      </div>
  </mat-step>
  <mat-step label = "Done">
    <section>
      <button mat-stroked-button color="primary" [disabled]="commentFormControl.invalid" (click)="onSubmit() && stepper.reset()"><i class="fa fa-floppy-o" aria-hidden="true"></i>Save</button>
    </section>
    <mat-divider></mat-divider>
    <section>
      <div>
        <button mat-mini-fab color="primary" matStepperPrevious>
          <span class="material-icons">
            skip_previous
            </span>
        </button>
      </div>
    </section>
  </mat-step>
</mat-horizontal-stepper>

<hr>
<div fxLayout="column" fxLayoutGap="10px">

  <div class="c">
    <h1>The feedbacks gives ideas on the effency of our web application</h1>
    <h3>You can check our recents feedbacks on our services bellow :</h3>
  </div>

  <div fxLayout="column"
  fxLayoutGap="10px"
  fxLayoutAlign="space-around center"
  >
    <div *ngFor="let feedb of feedbacksT" class="conttt" [@expand]>
      
      <h3>Date : {{feedb.createdAt | date}}</h3>
      <h3>Author : {{feedb.user?.firstname}} {{feedb.user?.lastname}}</h3>
      <hr>
      <p>Rating: {{feedb.rating}} / 5</p>
      <p>Comment: {{feedb.comment}}</p>   
    </div>
  </div>

  
</div>

