
<div fxLayout="column" class="lol">
<div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="13px" fxLayoutAlign="center center">
    <div fxFlex>
      <div fxLayout="column">
        <h1>Services</h1>
      <p><button mat-button>Requests (post / respond) </button></p>
      <p><button mat-button>FeedBack</button></p>
      <p><button mat-button>Home</button></p>
      </div>
    </div>
    <hr>
    <div fxFlex>
      <h1>About</h1>
      <p>Each request whoose due time is outdated, will be deleted automaticaly.</p>
      <p>If a request gets updated , it will be automaticly as a new one without anyone taking it.</p>
      <p>Every person will be notified about whetever it is requests responded , or requests updated.</p>
    </div>
    
    <div fxFlex>
      <h1>Elderly Care</h1>
      <p>
        We've been around for more than two years,we've put a lot of work on the effeciety of our website
      </p>
      <p>Our website has became a well known website in morroco , a lot of people could manage to find help</p>
    </div>
  </div>
  <div fxLayoutAlign="center center">
      <p>Elderly Care © 2021</p>
  </div>
</div>




