<div class="con">
  <mat-card>
  <h1>If you udpdate your request while having someone taking it, the help will be canceled and the person who took it
    will be notified by Email. <strong> As a result your updated request can be taken by any helper.</strong>
  </h1>
  </mat-card>
</div>

<form novalidate [formGroup]="RequestForm" (ngSubmit)="onSubmit()" >
  <div fxLayoutGap="2%">
    <mat-form-field appearance="fill">
      <mat-label>Type ?</mat-label>
      <mat-select formControlName="type" >
        <mat-option *ngFor="let type of Types" [value]="type">
          {{type}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  
  <mat-slide-toggle formControlName="urgent">Urgent</mat-slide-toggle>
  </div>
  <hr>
  <div
  fxLayout="column">
    <mat-form-field>
      <input matInput formControlName="familySituation" placeholder="Your family situation" type="text" required [(ngModel)] = "UpdatedRequest.familySituation">
      <mat-error *ngIf="RequestForm.get('familySituation').hasError('required') && RequestForm.get('familySituation').touched ">
        Your family situation is required</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput formControlName="subject" placeholder="What do you need ?" type="text" required [(ngModel)]="UpdatedRequest.subject">
      <mat-error *ngIf="RequestForm.get('subject').hasError('required') && RequestForm.get('subject').touched ">
        Fulfill this field, so people may help you.</mat-error>
    </mat-form-field>
  </div>
  <hr>
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Due date ?</mat-label>
      <input formControlName="dueDate" matInput [matDatepicker]="picker" [(ngModel)]="UpdatedRequest.dueDate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
  <hr>
  <div fxLayoutAlign = "center center">
  <button type="submit" color = "primary" [disabled]="RequestForm.invalid" fxFlex="60%" mat-raised-button >Submit</button>
  </div>
</form>

<div *ngIf="!Wait" fxLayout = "column" fxLayoutAlign = "center center" fxLayoutGap="15px">
  <h2>Sending the mail ...</h2>
  <mat-spinner></mat-spinner>
</div>
