<div fxLayout = "row"
fxLayout.lt-sm="column"
fxLayoutGap="50px">
  <div fxFlex="30%" class ="divv"> 
    <h1>Your requests</h1>
    <h3>You can check here, the state of your requests</h3>
    <h3>Any requests whose due date is expired, will be automaticaly deleted</h3>
  </div>
  <hr>
  <div fxFlex = "70%" class = "container">
    <h1>Your profil : </h1>
    <h3>Full name : {{CurrentUser.firstname}} {{CurrentUser.lastname}}.</h3>
    <h3 *ngIf="CurrentUser.inNeed">In need.</h3>
  </div>
</div>
<hr>
<div fxLayout.lt-sm="column"
      fxLayout = "column"
      fxLayoutGap="20px"
      >
<div fxLayoutAlign="start center" fxLayout = "row" fxLayoutGap="20px">
<mat-card *ngFor="let request of Myrequests" [@expand]>
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Family Situation : {{request.familySituation}}</mat-card-title>
    <mat-card-subtitle>Due date : {{request.dueDate | date}}</mat-card-subtitle>
    <mat-card-subtitle>Type : {{request.type}}</mat-card-subtitle>
  </mat-card-header>
  
        <mat-card-content>
          <p>
            {{request.subject}}
          </p>
        </mat-card-content>
        <mat-card-actions>
            <a><button mat-stroked-button color="primary" (click) ="saveReq(request)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>EDIT REQUEST</button></a>
            <a><button mat-stroked-button color="primary" (click) = "deleteRequest(request._id)"><i class="fa fa-trash" aria-hidden="true"></i>DELETE REQUEST</button></a>
            <a><button mat-stroked-button color="primary" (click) = "deleteRequest(request._id)" *ngIf="request.loading"><i class="fa fa-check-circle" aria-hidden="true"></i>In process,got it?</button></a>
            <mat-progress-bar *ngIf="request.loading" mode="indeterminate"></mat-progress-bar>
        </mat-card-actions>
</mat-card>
</div>
</div>

<div *ngIf ="NowComment"
fxLayout="column"
fxLayout.lt-sm="column" class="container">
  <div><h1>We hope that your requests went as you wanted</h1></div>
  <div><p>You can leave a feedback here : </p></div>
  <div><button mat-raised-button routerLink="/feedback" routerLinkActive="active" color="primary">Give a feedback</button></div>

</div>

<div *ngIf="!Myrequests" fxLayoutAlign="center center">
  <h1>Loading..</h1>
  <mat-spinner></mat-spinner>
</div>



